.text-success {
  color: #2e7d32; /* Hijau */
  font-size: 0.9rem;
  margin-bottom: 12px;
}

.text-danger {
  color: #d32f2f; /* Merah */
  font-size: 0.9rem;
  margin-bottom: 12px;
}

.text-info {
  color: #0288d1; /* Biru info */
  font-size: 0.9rem;
  margin-bottom: 12px;
}
